<div id="{% if include.id == null %}myModal{% else %}{{include.id}}{% endif %}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="{% if include.id == null %}myModal{% else %}{{include.id}}{% endif %}Label" data-backdrop="static"
     >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="{% if include.id == null %}myModal{% else %}{{include.id}}{% endif %}Label"><strong>{% if include.title == null %}添加信息{% else %}{{include.title}}{% endif %}</strong></h4>
            </div>
            <div class="modal-body">
                {% include {{include.url}} %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    <i class="glyphicon glyphicon-trash"></i> 取消
                </button>
                <button id="{% if include.bntId == null %}addOrEdit{% else %}{{include.bntId}}{% endif %}" type="button" class="btn btn-success">
                    <i class="glyphicon glyphicon-floppy-disk"></i> 保存
                </button>
            </div>
        </div>
    </div>
</div>

