---
layout: base_page
---

{% include base/toolbar/toolbar.html %}
{% include base/table/table.html %}
{% include base/modal/base_modal.html url = 'pages/sysAuth/form/aclForm.html' %}

<script type="text/javascript">
    var Table = {
        api: '/api/sys/acls',
        tableId: "myTable",
        toolbarId: "toolbar",
        bsTable: null,
        bsModal: null
    };
    Table.initColumn = function () {
        var columns = [
            {field: 'state', radio: true, align: 'center', valign: 'middle'},
            {title: 'ID', field: 'id', align: 'center', visible: false},
            {title: '权限名称', field: 'name', align: 'center', sortable: true},
            {title: '上级权限', field: 'sysAcl.name', align: 'center', sortable: true},
            {title: '图标', field: 'icon', align: 'center'},
            {title: '请求接口', field: 'url', align: 'center'},
            {title: '排序', field: 'seq', align: 'center'},
            {title: '权限类型', field: 'type', align: 'center', formatter: BSTable.prototype.aclTypeFormatter},
            {title: '状态', field: 'status', align: 'center', formatter: BSTable.prototype.stateFormatter},
            {title: '备注', field: 'remark', align: 'center', visible: false}];
        return columns;
    };
    Table.search = function () {
        var queryData = {};
        queryData['name'] = $("#name").val();
        queryData['beginTime'] = $("#beginTime").val();
        queryData['endTime'] = $("#endTime").val();
        Table.bsTable.refresh({query: queryData});
    };

    //执行方法
    $(function () {

        //初始化添加模态框方法
        var fields = ['id', 'name', 'parentId', 'parentName', 'icon', 'url', 'seq', 'type', 'status', 'remark'];
        var bsModal = new BSModal(Table.api);
        bsModal.setFields(fields);
        Table.bsModal = bsModal.init();

        //初始化表格
        var bsTable = new BSTable(Table.tableId, Table.toolbarId, CSW.getUrl(Table.api), Table.initColumn());
        Table.bsTable = bsTable.init(); //返回的是BSTable对象

        //初始化工具条
        var toolbar = new Toolbar(Table.toolbarId);
        toolbar = toolbar.init();

        bsTable.bindEvents(toolbar, bsModal, bsTable);
        bsModal.bindEvents(bsModal, bsTable);
        // toolbar.bindEvents(toolbar, bsModal, bsTable);

        //'添加'按钮操作
        $("#" + toolbar.addBntName).click(function () {
            var itemSelections = bsTable.tbInstance.bootstrapTable('getSelections');
            if (itemSelections.length === 0) {
                CSW.confirm("没有选择上级权限，确认是添加一级权限吗？", function (result) {
                    if (result) {
                        bsModal.clearForm();
                        $('#parentId').val(0);
                        $('#parentName').val('一级权限');
                        $("#seq").selectpicker('val', '1');
                        $("#seq").selectpicker('refresh');
                        $("#type").selectpicker('val', '1');
                        $("#type").selectpicker('refresh');
                        $("#status").selectpicker('val', '1');
                        $("#status").selectpicker('refresh');
                        bsModal.open("添加权限");
                    }
                });
            } else if (itemSelections.length === 1) {
                bsModal.clearForm();
                $('#parentId').val(itemSelections[0].id);
                $('#parentName').val(itemSelections[0].name);
                $("#seq").selectpicker('val', '1');
                $("#seq").selectpicker('refresh');
                $("#type").selectpicker('val', '1');
                $("#type").selectpicker('refresh');
                $("#status").selectpicker('val', '1');
                $("#status").selectpicker('refresh');
                bsModal.open("添加权限");
            } else if (itemSelections.length > 1) {
                CSW.info(CSW.selectOneTip);
            }
        });

        //'删除'按钮操作
        $("#" + toolbar.deleteBntName).click(function () {
            var ids = bsTable.getIdSelections();
            // console.log("ids: " + ids);
            if (ids.length >= 1) {
                var str = ids.length > 1 ? "注意是批量删除！" : "";
                CSW.confirm(CSW.confirmInfo + str, function (result) {
                    if (result) {
                        var objects = [];
                        for (var i in ids) {
                            var object = {};
                            object["id"] = parseInt(ids[i]);
                            objects.push(object);
                        }
                        // console.log("ids: " + objects);
                        var ajax = new $ax(bsModal.api + "/batch", function (data) {
                            if (data.code === "0000") {
                                CSW.success(CSW.deleteOk);
                                bsTable.refresh();
                            } else if (data.code === "0002") {
                                CSW.error(CSW.deleteFail + data.msg);
                            } else {
                                CSW.error(CSW.unknowCode + data.code);
                            }
                        }, function (data) {
                            CSW.error(CSW.requestFail + data.msg);
                        });
                        ajax.type = "DELETE";
                        ajax.data = objects;
                        ajax.start();
                    }
                });
            } else {
                CSW.info(CSW.selectTip);
            }
        });

        //'编辑'按钮操作
        $("#" + toolbar.editBntName).click(function () {
            var itemSelections = bsTable.getItemSelections();
            if (itemSelections.length === 1) {
                bsModal.setModalData(itemSelections[0]);
                bsModal.setForm();
                if (itemSelections[0].sysAcl !== null) {
                    $('#parentId').val(itemSelections[0].sysAcl.id);
                    $('#parentName').val(itemSelections[0].sysAcl.name);
                } else {
                    $('#parentId').val(0);
                    $('#parentName').val('一级权限');
                }
                bsModal.open("编辑权限");
            } else if (itemSelections.length > 1) {
                CSW.info(CSW.selectOneTip);
            }
        });
        //工具条后续的方法。。。
    });

</script>
