---
layout: base_page
---
{% include base/toolbar/toolbar.html %}
{% include base/table/table.html %}
{% include base/modal/modal.html inData = site.data.category %}


<script type="text/javascript">

    var Table = {
        api: '/api/basic/categories',
        tableId: "myTable",
        toolbarId: "toolbar",
        bsTable: null,
        bsModal: null
    };
    Table.initColumn = function () {
        var columns = [
            {field: 'state', radio: true, align: 'center', valign: 'middle'},
            {title: 'ID', field: 'id', align: 'center', visible: false},
            {title: '分类名称', field: 'name', align: 'center', sortable: true},
            {title: '状态', field: 'status', align: 'center', formatter: BSTable.prototype.stateFormatter},
            {title: '备注', field: 'remark', align: 'center'},
            {
                title: '操作',
                field: 'operate',
                align: 'center',
                valign: 'middle',
                width: '10%',
                formatter: BSTable.prototype.operateFormatter,
                events: BSTable.prototype.operationEvent()
            }];
        return columns;
    };

    //执行方法
    $(function () {

        //初始化添加模态框方法
        var fields = ['id', 'name', 'remark'];
        var bsModal = new BSModal(Table.api);
        bsModal.setFields(fields);
        Table.bsModal = bsModal.init();

        //初始化表格
        var bsTable = new BSTable(Table.tableId, Table.toolbarId, CSW.getUrl(Table.api), Table.initColumn());
        Table.bsTable = bsTable.init(); //返回的是BSTable对象

        //初始化工具条
        var toolbar = new Toolbar(Table.toolbarId);
        toolbar = toolbar.init();

        bsTable.bindEvents(toolbar, bsModal, bsTable);
        bsModal.bindEvents(bsModal, bsTable);
        toolbar.bindEvents(toolbar, bsModal, bsTable);

        //工具条后续的方法。。。
    });

</script>
