.h-full{height: 100%}
.h-10 {height: 10px}
.h-30 {height: 30px}
.h-40 {height: 40px}
.h-50 {height: 50px}
.h-55 {height: 55px}
.h-60 {height: 60px}
.w-full{width: 100%}
.w-25-p{width: 25%}
.w-30-p{width: 30%}
.w-half{width: 50%}
.w-100 {width: 100px}
.w-150 {width: 150px}
.w-200 {width: 200px}
.w-300 {width: 300px}
.m-l-0 {margin-left: 0}
.m-l-5 {margin-left: 5px;}
.m-l-10 {margin-left: 10px;}
.m-l-15 {margin-left: 15px;}
.m-l-20 {margin-left: 20px;}
.m-l-25 {margin-left: 25px;}
.m-l-30 {margin-left: 30px;}
.m-r-0 {margin-right: 0}
.m-r-5 {margin-right: 5px;}
.m-r-10 {margin-right: 10px;}
.m-r-15 {margin-right: 15px;}
.m-r-20 {margin-right: 20px;}
.m-r-25 {margin-right: 25px;}
.m-r-30 {margin-right: 30px;}
.m-t-0 {margin-top: 0px}
.m-t-10 {margin-top: 10px;}
.m-t-15 {margin-top: 15px;}
.m-b-10 {margin-bottom: 10px}
.m-b-15 {margin-bottom: 15px}
.m-10 {margin: 10px}
.m-15 {margin: 15px}
.m-20 {margin: 20px}

.p-l-10 {padding-left: 10px}
.p-l-15 {padding-left: 15px}
.p-l-20 {padding-left: 20px}
.p-r-10 {padding-right: 10px}
.p-r-15 {padding-right: 15px}
.p-r-20 {padding-right: 20px}
.p-t-10 {padding-top: 10px}
.p-t-15 {padding-top: 15px}
.p-t-20 {padding-top: 20px}
.p-b-1 {padding-bottom: 1px}
.p-b-10 {padding-bottom: 10px}
.p-b-15 {padding-bottom: 15px}
.p-b-20 {padding-bottom: 20px}
.p-10 {padding: 10px}
.p-15 {padding: 15px}
.p-20 {padding: 20px}
.bg-white{background-color: white}
.bg-gray{background-color: #f5f8fa}
.text-10 {
    font-size: 10px;
}
.text-12 {
    font-size: 12px;
}
.text-14 {
    font-size: 14px;
}
.text-default-color {
    color: #475059;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center-v {
    justify-content: center;
}
.flex-center-h {
    align-items: center;
}
.flex-center{
    justify-content: center;
    align-items: center;
}

.wrap{
    flex-wrap: wrap;
}

.flex-1 {
    flex: 1;
}
.flex-2 {
    flex: 2;
}
.flex-3 {
    flex: 3;
}
.flex-4 {
    flex: 4;
}

.r-5{
    border-radius: 5px;
}
.r-10{
    border-radius: 10px;
}

.pos-relative{
    position: relative;
}
.pos-absolute{
    position: absolute;
}
.b-w-1{
    border: 1px solid #efefef;
}
.b-r-5{
    border-radius: 5px;
}
.b-r-10{
    border-radius: 10px;
}
.over-hidden {
    overflow: hidden;
}

.bottom-line {
    border-bottom: 1px solid #efefef;
}
.right-line {
    border-right: 1px solid #efefef;
}
.border-line {
    border: 1px solid #efefef;
}
.body-container {
    font-size: 10px;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.select-area {
    display: flex;
    align-items: center;
    height: 50px;
}

.select-area > select, .select-area > input {
    margin-left: 10px;
    margin-right: 20px;
    height: 30px;
    flex: 1;
    border: 1px solid #e0e0e0;
    background-color: white;
    border-radius: 5px;
}

.select-area > span {
    margin-left: 20px;
}

.btn-blue {
    width: 90px;
    height: 30px;
    background-color: #2589FF;
    color: white;
    border-width: 1px;
    border-color: #2589FF;
    border-radius: 4px;
}

.btn-blue:focus {
    outline: -webkit-focus-ring-color auto 0;
}
.btn-blue:active {
    border-left-color: #595961;
    border-top-color: #595961;
}

.btn-white{
    width: 90px;
    height: 30px;
    background-color: white;
    color: #595961;
    border-width: 1px;
    border-radius: 4px;
}

.btn-white:focus {
    outline: -webkit-focus-ring-color auto 0;
}

.app-table {
    width: 100%;
    border: 1px solid #efefef;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
}
.app-table > thead > tr {
    background-color: #ffffff;
    font-size: 12px;
    font-weight: 100;
    height: 40px;
 }
.app-table > tbody > tr {
    height: 40px;
    text-align: center;
    font-size: 12px;
    font-weight: 100;
}

.app-table > tbody > tr:nth-child(odd) {
    background-color: #f5f8fa;
}
.app-table > tbody > tr:nth-child(even) {
    background-color: #ffffff;
}
.app-table > tbody > tr:hover {
    background-color: #efefef;
}

.loading-data {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.85;
    z-index: 500;
    display: block !important;
}

.loading-data > img {
    position: relative;
    top: 50%;
    left: 50%;
}

.hide {
    display: none !important;
}

.ng-modal-overlay {
    position:absolute;
    z-index:9999;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#000000;
    opacity: 0.5;
}
.ng-modal-dialog {
    z-index:10000;
    position: absolute;
    width: 50%;
    top: 25%;
    left: 25%;
    background-color: #fff;
    box-shadow: 4px 4px 80px #000;
}

.ng-modal-dialog-fade-out {

}