#test {
  overflow-y: scroll !important;
  overflow-x: auto !important;
}

.left {
  width: 26%;
  padding: 12px 0 12px 10px;
  float: left;
}

.leftTree {
  position: absolute;
  bottom: 0;
  top: 55px;
  left: 0;
  right: 0;
  overflow-y: scroll !important;
}

.leftTree > .list-group {
  margin-bottom: 0;
  box-shadow: 0 0 0 rgba(0,0,0,.075)
}

.right {
  width: 74%;
  float: right;
}
