<form id="assignRoleForm" class="form-horizontal">
    <div class="form-group">
        <label for="amount" class="col-sm-4 control-label">转移量</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="amount"/>
        </div>
    </div>
    <div class="form-group">
        <label for="targetWareHouse" class="col-sm-4 control-label">目标仓库</label>
        <div class="col-sm-5">
            <select id="targetWareHouse" class="selectpicker show-tick form-control">
        </select>
        </div>
    </div>
    <div class="form-group">
        <label for="targetLoc" class="col-sm-4 control-label">目标储位</label>
        <div class="col-sm-5">
            <select id="targetLoc" class="selectpicker show-tick form-control">
            </select>
        </div>
    </div>
</form>