---
layout: base_page
---
{% include common/fileInput.html %}
{% include base/table/table.html %}
<div class="container" style="width: 100%;">
    <div id="toolbar">
        <button id="add" type="button" class="btn btn-default" data-toggle="modal">
            <i class="glyphicon glyphicon-plus"></i> 手工入库
        </button>
        <button id="import" type="button" class="btn btn-default">
            <i class="glyphicon glyphicon-import"></i> 导入入库
        </button>
        <button id="export" type="button" class="btn btn-default">
            <i class="glyphicon glyphicon-open"></i> 导出
        </button>
    </div>
</div>

<div class="container" style="width: 100%;">
    <div id="importToolbar">
        <div class="file-loading">
            <input id="fileImport" type="file" name="filename">
        </div>
    </div>
</div>
{% include base/modal/base_lg_modal.html id = 'inputModal' bntId = 'addOrEditInput' url = 'pages/bm/form/inputForm.html' %}
{% include base/modal/base_lg_modal.html id = 'importModal' bntId = 'addOrEditImport' url = 'pages/bm/form/importForm.html' %}
<script type="text/javascript">
    var Table = {
        api: '/api/bm/inputDetails',
        tableId: "myTable",
        toolbarId: "toolbar",
        bsTable: null,
        bsModal: null
    };
    Table.initColumn = function () {
        var columns = [
            {field: 'state', radio: true, align: 'center', valign: 'middle'},
            {title: 'ID', field: 'id', align: 'center', visible: false},
            {title: '入库单号', field: 'inputNo', align: 'center', sortable: true},
            {title: '物料名称', field: 'skuDesc', align: 'center'},
            {title: '规格/型号', field: 'spec', align: 'center'},
            {title: '单位', field: 'unit', align: 'center'},
            {title: '单价', field: 'unitPrice', align: 'center'},
            {title: '数量', field: 'amount', align: 'center'},
            {title: '总价', field: 'totalPrice', align: 'center'},
            {title: '采购部门', field: 'purchaseDept', align: 'center'},
            {title: '采购人', field: 'purchaser', align: 'center'},
            {title: '验收人', field: 'receiver', align: 'center'},
            {title: '供应商', field: 'supplierName', align: 'center'},
            {title: '状态', field: 'state', align: 'center'},
            {title: '储位代码', field: 'locName', align: 'center'},
            {title: '备注', field: 'remark', align: 'center'}
        ];
        return columns;
    };

    var InputTable = {
        api: '',
        tableId: "inputTable",
        toolbarId: "",
        bsTable: null,
        bsModal: null
    };
    InputTable.initColumn = function () {
        var columns = [
            {field: 'state', checkbox: true, align: 'center', valign: 'middle'},
            {title: '入库单号', field: 'inputNo', align: 'center', sortable: true},
            {title: '物料名称', field: 'skuDesc', align: 'center'},
            {title: '单位', field: 'unit', align: 'center'},
            {title: '单价', field: 'unitPrice', align: 'center'},
            {title: '数量', field: 'amount', align: 'center'},
            {title: '总价', field: 'totalPrice', align: 'center'},
            {title: '采购部门', field: 'purchaseDept', align: 'center'},
            {title: '采购人', field: 'purchaser', align: 'center'},
            {title: '验收人', field: 'receiver', align: 'center'},
            {title: '供应商', field: 'supplierName', align: 'center'},
            {title: '储位代码', field: 'locName', align: 'center'},
            {title: '备注', field: 'remark', align: 'center'}
        ];
        return columns;
    };

    var ImportTable = {
        api: '',
        tableId: "importTable",
        toolbarId: "importToolbar",
        bsTable: null,
        bsModal: null
    };
    ImportTable.initColumn = function () {
        var columns = [
            {field: 'state', checkbox: true, align: 'center', valign: 'middle'},
            {title: '入库单号', field: 'inputNo', align: 'center', sortable: true},
            {title: '物料名称', field: 'skuDesc', align: 'center'},
            {title: '单位', field: 'unit', align: 'center'},
            {title: '单价', field: 'unitPrice', align: 'center'},
            {title: '数量', field: 'amount', align: 'center'},
            {title: '总价', field: 'totalPrice', align: 'center'},
            {title: '采购部门', field: 'purchaseDept', align: 'center'},
            {title: '采购人', field: 'purchaser', align: 'center'},
            {title: '验收人', field: 'receiver', align: 'center'},
            {title: '供应商', field: 'supplierName', align: 'center'},
            {title: '储位代码', field: 'locName', align: 'center'},
            {title: '备注', field: 'remark', align: 'center'}
        ];
        return columns;
    };

    //执行方法
    $(function () {

        //初始化添加模态框方法
        var bsModal = new BSModal(Table.api);
        bsModal.setModal('inputModal', 'inputForm', 'addOrEditInput', 'id');
        bsModal = bsModal.init();
        //初始化工具条
        var toolbar = new Toolbar(Table.toolbarId);
        toolbar.setBntName('add', 'import', 'export');
        toolbar = toolbar.init();
        //初始化表格
        var bsTable = new BSTable(Table.tableId, Table.toolbarId, Table.api, Table.initColumn());
        bsTable = bsTable.init();
        bsTable.bindEvents(toolbar, bsModal, bsTable);

        var inputTable = new BSTable(InputTable.tableId, InputTable.toolbarId, InputTable.api, InputTable.initColumn());
        inputTable.setStyle(180, false, false, false, false, false, false);
        inputTable = inputTable.init();

        var importModal = new BSModal(ImportTable.api);
        importModal.setModal('importModal', 'importForm', 'addOrEditImport', 'id');
        importModal = importModal.init();
        var importTable = new BSTable(ImportTable.tableId, ImportTable.toolbarId, ImportTable.api, ImportTable.initColumn());
        importTable.setStyle(200, false, false, false, false, false, false);
        importTable = importTable.init();

        //'添加'按钮操作
        $("#add").click(function () {
            bsModal.clearForm();
            bsModal.open("手工入库");
        });

        //'导入'按钮操作
        $("#import").click(function () {
            importModal.clearForm();
            importModal.open("导入入库");
        });

        //'查看详情'按钮操作
        $("#lookDetail").click(function () {

        });

        initFileInput("fileImport", CSW.getUrl("/api/bm/inputDetails/upload"));
        $('#fileImport').on('fileuploaded', function (event, data, previewId, index) {
            var response = data.response;
            console.log(response);
            if (response.code === "0000") {
                importTable.tbInstance.bootstrapTable('append', response.data);
                // importTable.tbInstance.bootstrapTable('resetView', {
                //     height: 200
                // });
            } else if (response.code === "0002") {
                CSW.error(CSW.saveFail + response.msg);
            } else {
                CSW.error(CSW.unknowCode + response.code);
            }
        });
        $('#fileImport').on('fileerror', function (event, data, msg) {
            CSW.error(CSW.saveFail);
        });

    });

    function initFileInput(ctrlName, uploadApi) {
        var control = $('#' + ctrlName);
        control.fileinput({
            language: 'zh', //设置语言
            uploadUrl: uploadApi, //上传的地址
            showPreview: false,
            showUpload: true, //是否显示上传按钮
            showCaption: false,//是否显示标题
            browseClass: "btn btn-primary", //按钮样式
            previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
            allowedFileExtensions: ['xls', 'xlsx'], //接收的文件后缀
            enctype: 'multipart/form-data',
            validateInitialCount: true,
            ajaxSettings: {
                xhrFields: {withCredentials: true},
                crossDomain: this.crossDomain
            }
        });
    }
</script>
