---
layout: base_page
---
<div>
    <div>
        <div id="inputForm" class="form-horizontal bg-white r-5 m-t-10 m-l-15 m-r-15 p-t-10 p-r-10 p-b-1">
            <div class="form-group m-b-10 " style="margin-left: 0; margin-right: 0;">
                <label for="proposer" class="col-sm-1 control-label">申请人</label>
                <div class="col-sm-3" style="padding-right: 0; padding-left: 0;">
                    <select id="proposer" name="proposer" class="selectpicker form-control show-tick h-30"
                            data-live-search="true" title="请选择申请人">
                    </select>
                </div>
                <label for="approver" class="col-sm-1 control-label">审批人</label>
                <div class="col-sm-3" style="padding-right: 0; padding-left: 0;">
                    <select id="approver" name="approver" class="selectpicker form-control show-tick h-30"
                            data-live-search="true" title="请选择审批人">
                    </select>
                </div>
                <label for="state" class="col-sm-1 control-label">状态</label>
                <div class="col-sm-3" style="padding-right: 0; padding-left: 0;">
                    <select id="state" name="state" class="selectpicker form-control show-tick h-30"
                            data-live-search="true" title="请选择状态">
                    </select>
                </div>
            </div>
            <div class="form-group" style="margin-left: 0; margin-right: 0;">
                <label for="startTime" class="col-sm-1 control-label">开始时间</label>
                <div class="col-sm-3" style="padding-right: 0;padding-left: 0;">
                    <input type="text" class="form-control h-30" name="startTime" id="startTime"
                           placeholder="请输入开始时间"/>
                </div>
                <label for="endTime" class="col-sm-1 control-label">结束时间</label>
                <div class="col-sm-3" style="padding-right: 0;padding-left: 0;">
                    <input type="text" class="form-control h-30" name="endTime" id="endTime"
                           placeholder="请输入结束时间"/>
                </div>
                <label class="col-sm-1 control-label"></label>
                <div class="col-sm-3" style="padding-right: 0;padding-left: 0;">
                    <button id="search" type="button" class="btn btn-default">
                        <i class="glyphicon glyphicon-search"></i> 查询
                    </button>
                    <button id="reset1" type="button" class="btn btn-default">
                        <i class="glyphicon glyphicon-remove-sign"></i> 重置
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div>
        {% include base/table/table.html %}
    </div>
</div>
<div class="container" style="width: 100%;">
    <div id="toolbar" class="flex-row">
        <button id="approve" type="button" class="btn btn-default m-l-5" disabled>
            <i class="glyphicon glyphicon-ok-circle"></i> 审批
        </button>
        <button id="decline" type="button" class="btn btn-default m-l-5" disabled>
            <i class="glyphicon glyphicon-remove-circle"></i> 拒绝
        </button>
        <button id="cancel" type="button" class="btn btn-default m-l-5" disabled>
            <i class="glyphicon glyphicon-trash"></i> 取消
        </button>
        <button id="lookDetail" type="button" class="btn btn-default m-l-5" disabled>
            <i class="glyphicon glyphicon-search"></i> 查看明细
        </button>
        <div class="col-sm-6">
            <input type="text" id="remark" name="remark" class="form-control" placeholder="请输入备注（200字以内）"/>
        </div>
    </div>
</div>

{% include base/modal/base_lg_modal.html id = 'approveModal' bntId = 'addOrEditApprove' url = 'pages/bm/form/approveForm.html' %}
<script type="text/javascript">
    var Table = {
        api: '/api/bm/outputApproves',
        tableId: "myTable",
        toolbarId: "toolbar",
        bsTable: null,
        bsModal: null
    };
    Table.initColumn = function () {
        var columns = [
            {field: 'state1', radio: true, align: 'center', valign: 'middle'},
            {title: 'ID', field: 'id', align: 'center', visible: false},
            {title: '出库单号', field: 'outputNo', align: 'center', sortable: true, width: '10%'},
            {title: '仓库名称', field: 'whName', align: 'center'},
            {title: '申请人', field: 'proposer', align: 'center'},
            {title: '审批人', field: 'approver', align: 'center'},
            {title: '班级', field: 'banJiName', align: 'center'},
            {title: '项目', field: 'projectName', align: 'center'},
            {title: '状态', field: 'state', align: 'center', formatter: BSTable.prototype.stateFormatter},
            {title: '申请时间', field: 'createTime', align: 'center', cellStyle: BSTable.prototype.formatTableCell},
            {title: '备注', field: 'remark', align: 'center'}
        ];
        return columns;
    };

    var OutputTable = {
        api: '/api/bm/outputApplies/details',
        tableId: "outputTable",
        toolbarId: "",
        bsTable: null,
        bsModal: null
    };
    OutputTable.initColumn = function () {
        var columns = [
            {field: 'state', checkbox: true, align: 'center', valign: 'middle'},
            {title: '出库单号', field: 'output.outputNo', align: 'center', sortable: true, width: '10%'},
            {title: '仓库名称', field: 'output.whName', align: 'center'},
            {title: '物料编号', field: 'sku', align: 'center'},
            {title: '物料名称', field: 'skuDesc', align: 'center'},
            {title: '规格/类型', field: 'spec', align: 'center'},
            {title: '申请数量', field: 'outNumber', align: 'center'},
            {title: '归还数量', field: 'returnNumber', align: 'center'}
        ];
        return columns;
    };

    //执行方法
    $(function () {

        //初始化添加模态框方法
        var bsModal = new BSModal(Table.api);
        bsModal.setModal('approveModal', 'approveForm', 'addOrEditApprove', 'id');
        bsModal = bsModal.init();
        //初始化工具条
        var toolbar = new Toolbar(Table.toolbarId);
        toolbar.setBntName('approve', 'decline', 'cancel');
        toolbar = toolbar.init();
        //初始化表格
        var bsTable = new BSTable(Table.tableId, Table.toolbarId, CSW.getUrl(Table.api), Table.initColumn());
        bsTable = bsTable.init();
        bsTable.tbInstance.on('check.bs.table uncheck.bs.table ' +
            'check-all.bs.table uncheck-all.bs.table', function () {
            $("#approve").prop('disabled', !bsTable.getIdSelections().length);
            $("#decline").prop('disabled', !bsTable.getIdSelections().length);
            $("#cancel").prop('disabled', !bsTable.getIdSelections().length);
            $("#lookDetail").prop('disabled', bsTable.getIdSelections().length > 1 || !bsTable.getIdSelections().length);
        });
        bsTable.tbInstance.on('refresh.bs.table', function () {
            $("#approve").prop('disabled', !bsTable.getIdSelections().length);
            $("#decline").prop('disabled', !bsTable.getIdSelections().length);
            $("#cancel").prop('disabled', !bsTable.getIdSelections().length);
            $("#lookDetail").prop('disabled', bsTable.getIdSelections().length > 1 || !bsTable.getIdSelections().length);
        });

        var outputTable = new BSTable(OutputTable.tableId, OutputTable.toolbarId, CSW.getUrl(OutputTable.api), OutputTable.initColumn());
        outputTable.setStyle(200, false, false, false, false, false);
        outputTable = outputTable.init();

        $('#approve').click(function () {
            var ids = bsTable.getIdSelections();
            // console.log("ids: " + ids);
            batch(ids, bsModal.api + "/approve");
        });
        $('#decline').click(function () {
            var ids = bsTable.getIdSelections();
            // console.log("ids: " + ids);
            batch(ids, bsModal.api + "/decline");
        });
        $('#cancel').click(function () {
            var ids = bsTable.getIdSelections();
            // console.log("ids: " + ids);
            batch(ids, bsModal.api + "/cancel");
        });

        function batch(ids, url) {
            if (ids.length >= 1) {
                var remark = $('#remark').val();
                var str = ids.length > 1 ? "注意是批量删除！" : "";
                CSW.confirm(CSW.confirmInfo + str, function (result) {
                    if (result) {
                        var objects = [];
                        for (var i in ids) {
                            var object = {};
                            object["id"] = parseInt(ids[i]);
                            object["remark"] = remark;
                            objects.push(object);
                        }
                        // console.log("ids: " + objects);
                        var ajax = new $ax(url, function (data) {
                            if (data.code === "0000") {
                                CSW.success(CSW.saveOk);
                                bsTable.refresh();
                            } else if (data.code === "0002") {
                                CSW.error(CSW.saveFail + data.msg);
                            } else {
                                CSW.error(CSW.unknowCode + data.code);
                            }
                        }, function (data) {
                            CSW.error(CSW.requestFail + data.msg);
                        });
                        ajax.type = "POST";
                        ajax.data = objects;
                        ajax.start();
                    }
                });
            } else {
                CSW.info(CSW.selectTip);
            }
        }

        $("#lookDetail").click(function () {
            var itemSelections = bsTable.getItemSelections();
            if (itemSelections.length === 1) {
                var queryData = {};
                queryData['id'] = parseInt(itemSelections[0].id);
                outputTable.refresh({query: queryData});
                outputTable.setRefreshParams({query: queryData});
                bsModal.open("查看出库详情");
            } else if (itemSelections.length > 1) {
                CSW.info(CSW.selectOneTip);
            }
        });

    });
</script>
