<div ng-show='show'>
    <div class='ng-modal-overlay' ng-click='hideModal()'></div>
    <div class='ng-modal-dialog r-5' ng-style='dialogStyle'>
        <div class="ng-modal-header h-40 p-l-15 p-r-15 bottom-line flex-row flex-center-h">
            <h4 class="ng-modal-title flex-1">{{title}}</strong></h4>
            <button type="button" class="close" ng-click='hideModal()' aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class='p-l-15 p-r-15 p-t-20 p-b-20'ng-class="{'bottom-line': showFooter}"  ng-transclude></div>
        <div ng-show="showFooter" class="h-40 p-l-15 p-r-15 flex-row flex-center-h" style="justify-content: flex-end">
            <button type="button" class="btn-white m-r-15" ng-click='hideModal()'>
                 取消
            </button>
        </div>
    </div>
</div>