<script type="text/javascript" src="/static/frameworks/jquery/jQuery-2.2.0.min.js"></script>
<script type="text/javascript" src="/static/js/toast/toastr.min.js"></script>
<script type="text/javascript" src="/static/js/angular/angular.js"></script>
<script type="text/javascript" src="/static/js/pageJs/stock/stockVirtual.js"></script>
<script type="text/javascript" src="/static/js/common/http.js"></script>
<script type="text/javascript" src="/static/js/common/directives.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/base.css">
<link rel="stylesheet" type="text/css" href="/static/js/toast/toastr.css">

<div class="body-font" ng-app="app" ng-controller="stockVirtualCtrl">
    <div class="body-container" >
        <div  class="p-l-15 r-5 flex-row h-full">
            <div class="flex-1 right-line p-t-10 p-b-10">
                <a href="javascript:void(0)" class="h-30 m-r-15 flex-row flex-center a-normal" ng-class="{'selected-item': displayWareHourse.id === item.id}" ng-repeat="item in wareHourse" ng-click="selectedStock(item)"> {{item.whName}}</a>
            </div>
            <div class="flex-4 pos-relative">
                <div class=" flex-row wrap pos-absolute" style="top: 0; right: 0; bottom: 0;left:0;overflow-y: scroll">
                    <div ng-repeat="zone in displayWareHourse.houseInfo " class="w-half">
                        <div class="border-line r-5 m-10">
                            <div class="h-40 flex-row flex-center bottom-line bg-gray-light">{{zone.zoneName}}</div>
                            <div class="p-r-10 p-b-10 flex-column">
                                <div ng-repeat="area in zone.virtualAreaList" class="h-30 border-line m-t-10 m-l-10 pos-relative" ng-click="showArea(area)">
                                    <div class="pos-absolute" style="top:0; bottom: 0;left: 0;background-color: #3c8dbc;width: {{area.usedPercent}}%"></div>
                                    <a href="javascript:void(0)" class="pos-absolute flex-row flex-center-h a-normal p-l-10" style="top:0; bottom: 0;left: 0;right: 0;">{{area.areaName}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	    <loading-data showloading="loadingWarehourse"></loading-data>
    </div>
    <modal-dialog show="showDialog" title="displayArea.areaName" show-footer="false" width="70%" left="12.5%">
        <div class="flex-row wrap" style="max-height: 250px; overflow: scroll">
            <div ng-repeat="loc in displayArea.virtualLocList" class="w-25-p" ng-click="showLocation(loc)">
                <div class="border-line pos-relative h-40 m-l-10 m-r-10 m-t-15 m-b-5">
                    <div class="pos-absolute" style="top:0; right: 0; bottom: 0;left: 0;background-color: {{loc.useFlag ? '#3c8dbc':'#fff'}};"></div>
                    <a href="javascript:void(0)" class="pos-absolute flex-row flex-center-h a-normal p-l-10" style="top:0; bottom: 0;left: 0;right: 0;">{{loc.locName}}</a>
                </div>
            </div>
        </div>
        <div class="p-l-15 m-t-10 bg-gray-light" style="margin-left: -15px; margin-right: -15px">储区名片[{{displayArea.areaName}}]</div>
        <div class="m-t-10 flex-row">
            <span class="">储区编号[{{displayArea.areaName}}]</span>
            <span class="m-l-15">总共储位:{{displayArea.virtualLocList.length}}</span>
            <span class="m-l-15">占用储位:{{displayArea.usedLocCount}}</span>
            <span class="m-l-15">空余储位:{{displayArea.virtualLocList.length - displayArea.usedLocCount}}</span>
        </div>
        <div class="m-t-10 flex-row flex-center-h">
            <div class="border-line pos-relative h-15 flex-1">
                <div class="pos-absolute" style="top:0; bottom: 0;left: 0;background-color: #3c8dbc; width: {{displayArea.usedPercent}}%"></div>
            </div>
            <span class="m-l-10">{{displayArea.usedLocCount}}/{{displayArea.virtualLocList.length}}</span>
        </div>

    </modal-dialog>
    <modal-dialog show="showLoc" title="displayLoc.locName">
        <table class="w-full body-font" style="border-collapse: separate;border-spacing: 0;border: 1px solid #efefef;">
            <thead>
            <th class="bottom-line">物品名</th>
            <th class="bottom-line">物品规格</th>
            <th class="bottom-line">物品数量</th>
            </thead>
            <tbody>
            <tr ng-repeat="thing in displayLoc.inventoryList">
                <td style="text-align: center" class="bottom-line">{{thing.skuDesc}}</td>
                <td style="text-align: center" class="bottom-line">{{thing.spec}}</td>
                <td style="text-align: center" class="bottom-line">{{thing.skuAmount}}</td>
            </tr>
            </tbody>
        </table>
    </modal-dialog>
</div>
